/*--------------------------------------------------------------
## Audio Block
--------------------------------------------------------------*/
.wp-block-audio {
    audio {
        width: 100%;
    }
}

/*--------------------------------------------------------------
## Pull Quote Block
--------------------------------------------------------------*/
.wp-block-pullquote {
    margin-bottom: 1.5em;
    
    &.alignleft {
        margin-left: 0;
    }

    &.alignright {
        margin-right: 0;
    }
}