$size__site-main: 100%;
$size__site-sidebar: 25%;

$break-xlarge: "only screen and (min-width: 1280px)";
$break-large: "only screen and (min-width: 960px)";
$break-medium: "only screen and (min-width: 768px)";
$break-small: "only screen and (min-width: 37.5em)";