.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

.alignfull,
.alignwide {
	width: 100vw;
    margin-left: 50%;
	transform: translateX(-50%);
	max-width: none;

	img {
		width: 100%;
	}
}

.alignwide {
	@media #{$break-medium} {
		max-width: 100%;
	}

	@media #{$break-large} {
		width: 75vw;
    	margin-left: 50%;
		transform: translateX(-50%);
		max-width: none;
	}
}