.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.entry-header,
.entry-footer {
	margin: 1em auto;
	padding: 0 2.5em;
	max-width: $size__content;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em auto 0;
	padding: 0 2.5em;
	max-width: $size__content;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
